*{
	padding: 0;
	margin: 0;
}
html,body,.box{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.slh{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.box{
	overflow: auto;
}
header{
	height: 45px;
	width: 100%;
	background: url(../img/headerbg_v2.png)#FAFAFA 139px no-repeat;
	display: flex;
	padding: 7px 10px 0 10px;
	box-sizing: border-box;
	background-size: 141px 44px;
	border-bottom: 2px solid #317ECB;
}
.logo{
	height: 42px;
	width: 102px;
	background: url(../img/logo.png)no-repeat;
	background-size: 102px 30px;
}
header>p{
	flex: 1;
}
.btn{
	height: 24px;
	width: 42px;
	border-radius: 5px;
	background: #4998E7;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	color: white;
	margin-top: 4px;
}
.nav{
	width: 100%;
	background: #4998E7;
}
.nav>ul{
	width: 100%;
	padding: 5px 0 5px 0;
}
.nav>ul li{
	width: 100%;
	display: flex;
}
.nav>ul li a{
	flex: 1;
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 35px;
}
.img{
	height: 165px;
	widows: 100%;
	position: relative;
}
.img>img{
	height: 100%;
	width: 100%;
	/*max-width: 330px;*/
	
	
}
.img>p{
	position: absolute;
	color: white;
	font-size: 16px;
	bottom: 5px;
	left: 5px;
}
.list-topnews{
	width: 100%;
}
.list-topnews>ul{
	width: 100%;
}
.list-topnews>ul li a{
	color: black;
	font-size: 17px;
}
.list-topnews>ul>li{
	line-height: 35px;
	border-bottom: 1px solid #EDEFF0;
	padding: 0 10px 0 10px;
	box-sizing: border-box;
}
.list-topnews>ul>li:last-child{
	border-bottom: none;
	
}
.list-topnews>ul li strong{
	color: #458FCE;
}

.list-topnews>ul li strong::after{
	content: "|";
	color: #DCDCDC;
	margin-left: 5px;
}
.more-news{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 10px 0 10px;
}
.more-contenter{
	width: 100%;
	height: 45px;
	background: #EDF6FF;
	line-height: 45px;
	text-align: center;
	
}
.more-contenter>span{
	color: #4998E7;
}
.more-contenter>span::after{
	content: "";
	display: inline-block;
	height: 21px;
	width: 21px;
	background: url(../img/下载.png)no-repeat;
	background-size: 21px 21px;
	vertical-align: -5px;
	margin-left: 5px;
	
}

.head{
	height: 40px;
	width: 100%;
	background: url(../img/headbg.png)#FAFAFA no-repeat;
	border-top: 2px solid #9AC7ED;
	margin-top: 20px;
	background-size: 320px 62px;
    background-position: left -31px;
}
.head>ul{
	height: 100%;
	width: 100%;
	
}
.head>ul>li{
	float: left;
	height: 100%;
	width: 62px;
	color: #2A70BE;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
}
.full{
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	
	padding: 10px 10px 0px 10px;
}
.full li{
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #EDEFF0;
}
.full li img{
	height: 55px;
	width: 75px;
	float: left;

}
.full li span{

	display: block;
	margin-left: 85px;
	
	
	
}
.list{
	width: 100%;
}
.list ul{
	width: 100%;
	box-sizing: border-box;
	padding: 10px 10px 0px 10px;
}
.list ul li{
	width: 100%;
	border-bottom: 1px solid #EDEFF0;
	padding-bottom: 10px;
	font-size: 18px;
}
.list ul li i{
	display: inline-block;
	height: 14px;
	width: 24px;
	background: url(../img/flagicon.png)no-repeat;
	background-size: 168px 14px;
	vertical-align: -1px;
}













































